	.dm .dm_send .s_txt {
	  width: 388px;
	  height: 34px;
	  border-radius: 3px;
	  border: 1px solid rgb(250,215,153);
	  padding-left: 10px;
	}
	
	.dm .dm_send .s_sub {
	  border: 1px solid rgb(250,215,153);
	  color: rgb(230, 80, 0);
	  border-radius: 3px;
	  text-align: center;
	  padding: 0;
	  height: 35px;
	  line-height: 35px;
	  font-size: 14px;
	  width: 159px;
	  background-color: rgb(231,238,231);
	  cursor: pointer;
	}

	.dm .dm_send .s_del {
	  border: 1px solid rgb(250,215,153);
	  color: rgb(230, 80, 0);
	  border-radius: 3px;
	  text-align: center;
	  padding: 0;
	  height: 35px;
	  line-height: 35px;
	  font-size: 14px;
	  width: 159px;
	  background-color: rgb(231,238,231);
	  cursor: pointer;
	}
	
	.dm {
	  margin: 20px;
	  text-align: center;
	}
	
	.dm .dm_screen {
	  width: 100%;
	  height: 380px;
	  border-radius: 4px;
	  box-shadow: 0px 4px 2px #ccc;
	  border: 1px solid rgb(250,215,153);
	  background-color: rgb(181,245,152);
	}

/*	设置添加的div的样式*/
	.dm .dm_screen div {
	  font-size: 22px;
	  line-height: 36px;
	  font-weight: 500;
	  color: #fff;
	 /* 此处必须绝对定位*/
	  position: absolute;
	  left: 0;
	  top: 0;
	  z-index: 2;
	}