body {
	margin: 0;
}

p {
	margin: 0;
}

img {
	border: none;
}

a {
	display: inline-block;
	color: rgb(62,127,183);
	text-decoration: none;
}

.clearfloat {
	zoom:1;
}
.clearfloat:after {
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0;
}

.container {
	width: 1034px;
	/*height: 1000px;*/
	margin: 0 auto;
	margin-top: 60px;
	background-color: rgb(238,238,238);
	border-radius: 6px;
	padding: 53px;
}

.title .title-1 {
	font-family: SimSun;
	font-color: rgb(51,51,51);
	font-size: 56px;
	font-weight: bolder;
	/*line-height: 112px;*/
	text-align: center;
	/*padding-top: 6px;*/
}

.title .title-2 {
	font-family: SimSun;
	font-color: rgb(51,51,51);
	font-size: 24px;
	font-weight: bolder;
	line-height: 60px;
	text-align: center;
	font-style: italic;
}

.banner {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 4px;
}

.banner .banner-bg {
	width: 1024px;
	height: 624px;
	overflow: hidden;
	/*background-image: url("http://p1.bqimg.com/583802/888477070656d19c.jpg");
	background-repeat: no-repeat;*/
}

.banner .banner-text {
	font-size: 18px;
	line-height: 44px;
	text-align: center;
	font-family: SimHim;
	font-weight: normal;
}

.text {
	width: 660px;
	margin: 0 auto;
	margin-top: 50px;
	/*background-color: #ccc;*/
}

.text .text-title {
	/*font-family: SimSun;*/
	font-color: rgb(51,51,51);
	font-size: 24px;
}

.text .text-lis li {
	/*font-family: SimSun;*/
/*	color: #666;*/
	font-size: 14px;
	line-height: 22px;
}

.text .text-famous {
	font-size: 20px;
	line-height: 30px;
}

.text .text-famous span {
	/*display: inline-block;*/
	color: #999;
	font-size: 14px;
	/*line-height: px;*/
	/*float: right;*/
}

.text .text-tips {
	margin-top: 20px;
	font-size: 28px;
	line-height: 32px;
}

.text .text-tips a:hover {
	text-decoration: underline;
}

.footer {
	width: 1140px;
	/*height: 1000px;*/
	margin: 0 auto;
	margin-top: 30px;
	border-top: 1px solid #ccc;
	/*这条线也可以用<hr>代替*/
	text-align: center;
	padding: 24px 0 10px 0;
}

.footer a:hover {
	text-decoration: underline;
}
