body {
	margin: 0;
	background-color: rgb(119,177,169);
}
p {
	margin: 0;
}
.clearfloat {
	zoom:1;
}
.clearfloat:after {
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0;
}

.container {
	width: 470px;
	height: auto;
	background-color: #fff;
	padding: 30px 40px;
	margin: 0 auto;
	margin-top: 12%;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.con-text {
	color: rgb(119,177,169);
	font-size: 26px;
	font-family: 微软雅黑;
	line-height: 34px;
}

.con-text i {
	font-style: normal;
	font-size: 40px;
	font-weight: bolder;
}

.con-text cite {
	display: inline-block;
	margin-top: 30px;
	font-size: 20px;
	float: right;
}

.con-btns {
	margin-top: 10px;
}

.con-btns .btn-1 , .con-btns .btn-2 {
	width: 40px;
	height: 40px;
	font-size: 20px;
	color: #fff;
	font-weight: bolder;
	background-color: rgb(119,177,169);
	border: 1px solid #ccc;
	border-radius: 4px;
	vertical-align: bottom;
	cursor: pointer;
}

.con-btns .btn-3 {
	width: 110px;
	height: 40px;
	font-size: 14px;
	color: #fff;
	margin-left: 240px;
	background-color: rgb(119,177,169);
/*	padding: 10px 20px;*/
	border: 1px solid #ccc;
	border-radius: 4px;
	cursor: pointer;
}

.con-btns button:hover {
	box-shadow: 0 2px 2px #333;
}