body, dl, dd, h1, h2, h3, h4, h5, h6, p, form{margin:0;}   
ol,ul{margin:0; padding:0;}

/*清除浮动*/
.clearfloat {
	zoom:1;
}
.clearfloat:after {
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0;
}
a {
	display: inline-block;
	color: #000;
	text-decoration: none;
}
li {
	list-style-type: none;
	float: left;
}

body {
	height: 1200px;
	width: 100%;
	/*background-color: #ccc;*/
	position: absolute;
}

.header {
	height: 50px;
	width: 100%;
	background-color: rgb(190,190,190);
	border-top: 8px solid rgb(52,52,52);
	position: fixed;
	/*生成绝对定位的元素，相对于浏览器窗口进行定位。
	元素的位置通过 "left", "top", "right" 以及 "bottom" 属性进行规定。*/
	/*top: 10px;
	left: 20px;*/
	/*这样的话，脱离了文档流，后面的元素在设置位置的时候要用margin-top*/
	z-index: 10;
}
.header .header-nav-l {
	width: 140px;
	/*height: 50px;*/
	float: left;
	margin-left: 90px;
	font-weight: bolder;
	text-align: center;
	line-height: 50px;
}

.header .header-nav-l:hover {
	/*width: 140px;
	height: 50px;
	float: left;
	margin-left: 90px;
	font-weight: bolder;
	text-align: center;
	line-height: 50px;*/
	background-color: rgb(223,223,223);
	/*cursor: pointer;*/
}

.header .header-nav-r {
	width: 330px;
	height: 50px;
	float: right;
	margin-right: 90px;
	font-weight: bolder;
	text-align: center;
	line-height: 50px;
}
.header .header-nav-r li {
	padding: 0 12px;
}
.header .header-nav-r li:hover {
	/*padding: 0 12px;*/
	background-color: rgb(223,223,223);
}

.banner {
	position: relative;
	margin-top: 58px;
	/*上面的header设置了fixed后，脱离了文档流，这块要重新设置位置属性*/
}

.banner .banner-bg {
	width: 1440px;
	height: 722px;
	/*宽高有了后才能设置背景图片*/
	background-image: url("http://i1.piimg.com/583802/ea36e4e4ef448074.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 35px -80px; /*设置位置*/
	/*z-index: -1;*/
}

.banner .banner-bg-1 {
	width: 1440px;
	height: 772px;
	/*background-color: #000;
	opacity: 0.3;*//*opacity:
	会使得后代元素都具有透明度  只能按照下面的方法设置 */
	background-color: rgba(0,0,0,0.3);
	/*position: absolute;
*/}

.banner .banner-1 {
	font-size: 70px;
	font-weight: bolder;
	color: #eee;
	text-align: center;
	/*position: relative;*/
	padding-top: 160px;
}

.banner .banner-2 {
	font-size: 26px;
	color: #000;
/*	position: relative;*/
	text-align: center;
	margin-top: 16px;
}

.banner .banner-line {
	width: 1145px;
	border-top: 2px solid #ddd;
	margin: 0 auto;
	margin-top: 20px;
}
.banner .banner-4 ul {
	width: 580px;
	margin: 0 auto;
	margin-top: 20px;
}

.banner .banner-4 li {
	height: 46px;
	width: auto;
	font-size: 16px;
	font-weight: bolder;
	text-shadow: 2px 2px 2px #333;
	padding: 0 18px;
	text-align: center;
	line-height: 46px;
	background-color: rgb(192,192,192);
	border-radius: 6px;
	margin: 0 10px;
	letter-spacing: 2px;
	box-shadow: 2px 2px 2px #111;
}

.banner .banner-4 li:hover {
	color: #fff;
	height: 46px;
	font-size: 16px;
	font-weight: bolder;
	text-shadow: 2px 2px 2px #333;
	padding: 2px 24px;
	margin-top: -8px;
	text-align: center;
	line-height: 46px;
	background-color: #000;
	border-radius: 6px;
	margin: -4px 4px;
	letter-spacing: 2px;
	border: 2px solid #ccc;
	box-shadow: 2px 2px 2px #111;
	cursor: pointer;
}
.web-design {
	margin-top: 100px;
	padding: 0 90px;
}

.web-design .web-design-1 {
	font-size: 38px;
	font-weight: bolder;
}

.web-design .web-design-2 {
	font-size: 22px;
	line-height: 28px;
	font-weight: bold;
}

.portfolio {
	padding: 0 90px;
	margin-top: 300px;
}

.portfolio .portfolio-title {
	font-size: 36px;
	line-height: 60px;
	font-weight: bolder;
	text-align: center;
}

.portfolio .portfolio-title span {
	display: block;
	font-size: 30px;
	line-height: 40px;
	font-weight: bold;
	text-align: center;
}

.portfolio .portfolio-lis table td {
	vertical-align: top;
	/*文字顶部对齐*/
}

.portfolio .portfolio-lis table td {
	/*padding-top: 20px;*/
	/*控制表格间距*/
}

.portfolio .portfolio-lis .lis-boxs {
	width: 360px;
	/*height: 90px;*/
	padding: 0 16px;
	background-color: rgb(255,255,255);
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin-top: 20px;
}

.portfolio .portfolio-lis .lis-boxs:hover {
	box-shadow: 4px 10px 5px #000;
	/*z左右偏移 上下偏移 阴影长度*/
	/*width: 360px;
	/*height: 90px;*/
	/*padding: 0 16px;
	background-color: rgb(255,255,255);
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;*/

}

.portfolio .portfolio-lis .lis-img {
	width: 360px;
	height: 203px;
	background-image: url("http://p1.bqimg.com/583802/626242fa443f470e.png");
}
.portfolio .portfolio-lis .lis-img:hover {
	width: 360px;
	height: 203px;
	background-image: url("http://p1.bqimg.com/583802/626242fa443f470e.png");
/*	background-color: #000;*/
	opacity: 0.4;
	cursor: pointer;
}

.portfolio .portfolio-lis .lis-box {
	width: 360px;
	height: 66px;
	background-color: rgb(51,51,51);
	color: #fff;
	text-align: center;
	font-size: 18px;
	padding-top: 24px;
}
.portfolio .portfolio-lis .lis-box span {
	display: block;
	font-size: 14px;
	font-style: italic;
}

.connect {
	margin-top: 130px;
	padding: 0 90px;
}

.connect-text {
	font-size: 30px;
	line-height: 40px;
	font-weight: bolder;
	float: left;
}

.connect-lis ul {
	float: right;
}

.connect-lis li {
	float: none;
	height: 46px;
	text-align: center;
	font-size: 20px;
	line-height: 46px;
	letter-spacing: 2px;
	font-weight: bolder;
	padding: 0 18px;
	margin-top: 20px;
	border: 2px solid #ccc;
	border-radius: 4px;
	box-shadow: 2px 2px 2px #000;
	background-color: #ccc;
}

.connect-lis li:hover {
	color: #fff;
	height: 46px;
	font-size: 16px;
	font-weight: bolder;
	text-shadow: 2px 2px 2px #333;
	/*padding: 2px 24px;
	margin-top: -8px;*/
	text-align: center;
	line-height: 46px;
	background-color: #000;
	border-radius: 6px;
/*	margin: -4px 4px;*/
	letter-spacing: 2px;
	border: 2px solid #ccc;
	box-shadow: 2px 2px 2px #111;
	cursor: pointer;
}

.footer {
	width: 100%;
	height: 120px;
	background-color: rgb(198,198,198);
	padding: 0 90px;
	margin-top: 200px;
	padding-top: 60px;
}
.footer .footer-link li {
	width: auto;
	height: 16px;
}
.footer .footer-link li span {
	font-weight: bolder;
	color: #444;
	padding: 0 14px 0 14px;
}

.footer .footer-link li a {
	color: rgb(50,120,180);
}
.footer .footer-link li a:hover {
	text-decoration: underline;
}

.footer .footer-copyright {
	margin-top: 20px;
	font-size: 12px;
	color: #666;
}